<div class="card-details">
	<div class="header"><h3>{{info/details/title}}</h3></div>
	<div class="content"><img src="{{info/details/image}}" alt="" class="map"></div>
	<div class="description">{{info/details/description}}</div>
</div>