<div class="desktop">
	<h3>Oopsi You'll need a mobile device to browse this site.</h3>
	<p>Scan this QR code or simply browse to http://bbq.digitaslbi-nordics.com</p>
	<img src="images/qr.png" alt="browse to http://bbq.digitaslbi-nordics.com">
</div>