<div class="info">
	<img src="images/DLBi-icon.png" alt="">
	<div class="wifi">
		<h4>WiFi</h4>
		<div>SSID: <em>SLU-Guest</em></div>
		<div>Username: <em>digitaslbi</em></div>
		<div>Password: <em>Sommar2015</em></div>
	</div>
	<img src="images/DLBi-xs-icon.png" alt="">
	<h4>Welcome to The Nordic Big Bang Barbeque at Alnarp</h4>
	<p>Alnarp is the campus for Swedish University of Agricultural Sciences
	and also a garden open Alnarpsparken. In the park lies Alnarps castle, built in 1862.</p>
	<p>We will spend the day in the main building campus building and in the park. As Alnarp is a school and the parc is public there will other people than us on the grounds.</p>
	<img src="images/DLBi-xs-icon.png" alt="">
	<h4>Practical information</h4>
	<ul>
		<li>Luggage drop off  available in main building luggage and come back outside.</li>
		<li>Just in front of the main building there is the road that crosses the Campus area – be aware of the traffic.</li>
		<li>Beverages will have to wait outside the Auditorium. Don’t worry – you will have several opportunities to quench your thirst before, during and after</li>

		<li>The main entrance to the building will close at 20.30 (you will get out but not in again). The doors to the inner yard on both levels will though be open, use these.</li>

		<li>Don’t miss the bus – keep an eye on each other.</li>
		<li>If hotel you will get your keys at arrival at hotel</li>
		<li>Please do not leave any personal belongings or a litter trail on bus.  Through all garbage in bags</li>
	</ul>
	<img src="images/DLBi-xs-icon.png" alt="">
	<h4>Instagram</h4>
	<p>If you post photos during the Big Bang Barbecue, please tag them with <em>#digitaslbibbq</em>. You can at anytime view the feed by choosing Instagram in the menu.</p>
</div>