{{log this}}
<div class="info">
	{{#if this/usr}}
	<h4>WiFi</h4>
	<p>Your personal login is:</p>
	<ul>
		<li>SSID: xxxxxx</li>
		<li>Username: {{this/usr}}</li>
		<li>Password: {{this/pwd}}</li>
	</ul>
	{{/if}}
	<h4>About Alnarp</h4>
	<p>Alnarp is the campus for Swedish University of Agricultural Sciences and also a botanical garden open for the public, Alnarpsparken. In the park lies Alnarps castle, built in 1862. We will spend the day in the main building campus building and in the park.</p>
	<h4>Practical stuff</h4>
	<ul>
		<li>Beverage is not allowed in the auditorium. Don’t worry – you will have several opportunities to quench your thirst.</li>
		<li>The buses from Malmö will go directly to Alnarp, no stop at the hotel before event starts.</li>
		<li>Travels: No private travel expenses will be approved so don’t miss your connection!</li>
		<li>Luggage points: There is a wardrobe is available with space for storage of small luggage etc.</li>
		<li>Restrooms There are 7 restrooms on entry floor and also upstairs 3 in the Loft. (The Loft restrooms are open at dinner after forward)</li>
	</ul>
	<h4>Instagram</h4>
	<p>If you post photos during the Big Bang Barbecue, please tag them with <em>#dlbibbq</em>. You can at anytime view the feed by choosing Instagram in the menu.</p>
</div>