<div class="instagram">
	<div class="error hide">
		<img src="images/logo.jpg" class="logo" alt="DigitasLbi">
		<p><strong>You better start snapping photos!</strong> The feed is empty. Use the hashtag <em>#digitaslbibbq</em> to display them in the feed here and on the slideshow.</p>
	</div>
	<div id="{{targetId}}" class="instafeed">
		<div class="loader" data-fixed-loader></div>
	</div>

	<button class="show-more">
		<span class="text">More</span>
		<span class="loader"></span>		
	</button>

</div>