<div class="instagram">

	<div id="{{targetId}}" class="instafeed">
		<div class="loader" data-fixed-loader></div>
	</div>

	<button class="show-more">
		<span class="text">More</span>
		<span class="loader"></span>		
	</button>

</div>