<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<div class="row">
				<div class="col col-xs-2"><span class="col-content-wrapper"><span class="glyphicon glyphicon-chevron-left"></span></span></div>
				<div class="col col-xs-8"><span class="col-content-wrapper page-title">Big Bang BBQ</span></div>
				<div class="col col-xs-2">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="glyphicon glyphicon-menu-hamburger"></span>
					</button>
				</div>
			</div>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li id="pre"><a href="/#/pre">Travel info to Alnarp</a></li>
				<li id="during"><a href="/#/during">Schedule</a></li>
				<li id="post"><a href="/#/post">Travel info from Alnarp</a></li>
				<li id="instagram"><a href="/#/instagram">Instagram feed</a></li>
				<li id="reset"><span>Reset app</span></li>
			</ul>
		</div>
	</div>
</nav>